@{
    ViewData["Title"] = "Home Page";
}
@model MyPortfolio.Domain.Models.ViewModels.UserInfoViewModel

@if (Model.UserDTO != null)
{
    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

        <img src="@Url.Content("~/images/baner.png")" alt="" data-aos="fade-in" class="">

        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <h2>@string.Concat(Model.UserDTO.FirstName, " ", Model.UserDTO.LastName)</h2>
            <p>I'm <span class="typed" data-typed-items="Software Engineer, Freelancer, Visionary, Versatile">Developer</span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
        </div>

    </section>

    <!-- /Hero Section -->

    <!-- Portfolio Section -->
    @if (Model.UserDTO.Projects != null && Model.UserDTO.Projects.Any())
    {
        <section id="portfolio" class="portfolio section light-background">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Portfolio</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div><!-- End Section Title -->

            <div class="container">

                <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

                    <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-app">App</li>
                        <li data-filter=".filter-product">Product</li>
                        <li data-filter=".filter-branding">Branding</li>
                        <li data-filter=".filter-books">Books</li>
                    </ul><!-- End Portfolio Filters -->

                    <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">
                        @foreach (var project in Model.UserDTO.Projects)
                        {
                            <div class="col-lg-4 col-md-6 portfolio-item isotope-item
                        @(project.Title.ToLower().Contains("app") ? "filter-app" :
                              project.Title.ToLower().Contains("branding") ? "filter-branding" :
                              project.Title.ToLower().Contains("books") ? "filter-books" :
                              "filter-product")">
                                <div class="portfolio-content h-100">
                                    <img src="@Url.Content(@project.ImageUrl)" class="img-fluid" alt="">
                                    <div class="portfolio-info">
                                        <h4>@project.Title</h4>
                                        <p>@project.Summary</p>
                                        <a href="@Url.Content(@project.ImageUrl)" title="App 1" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                        <a asp-controller="Projects" asp-action="Details" title="More Details" asp-route-id="@project.Id" class="details-link"><i class="bi bi-link-45deg"></i></a>
                                    </div>
                                </div>
                            </div>

                            <!-- End Portfolio Item -->
                        }
                    </div><!-- End Portfolio Container -->
                </div>
            </div>
        </section>

        <!-- /Portfolio Section -->
    }


    <!-- Services Section -->
    @if (Model.UserDTO.Services != null && Model.UserDTO.Services.Any())
    {
        <section id="services" class="services section">
            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Services</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div><!-- End Section Title -->

            <div class="container">

                <div class="row gy-4">
                    @foreach (var service in Model.UserDTO.Services)
                    {
                        <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
                            <div class="icon flex-shrink-0"><i class="bi bi-briefcase"></i></div>
                            <div>
                                <h4 class="title"><a asp-controller="Services" asp-action="Details" asp-route-id="@service.Id" class="stretched-link">@service.Title</a></h4>
                                <p class="description">@service.Summary</p>
                            </div>
                        </div>
                        <!-- End Service Item -->
                    }
                </div>

            </div>
        </section>

        <!-- /Services Section -->
    }

    <!-- Testimonials Section -->
    @if (Model.UserDTO.Testimonials != null && Model.UserDTO.Testimonials.Any())
    {
        <section id="testimonials" class="testimonials section light-background">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Testimonials</h2>
                <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
            </div><!-- End Section Title -->

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="swiper init-swiper">
                    <script type="application/json" class="swiper-config">
                        {
                          "loop": true,
                          "speed": 600,
                          "autoplay": {
                            "delay": 5000
                          },
                          "slidesPerView": "auto",
                          "pagination": {
                            "el": ".swiper-pagination",
                            "type": "bullets",
                            "clickable": true
                          },
                          "breakpoints": {
                            "320": {
                              "slidesPerView": 1,
                              "spaceBetween": 40
                            },
                            "1200": {
                              "slidesPerView": 3,
                              "spaceBetween": 1
                            }
                          }
                        }
                    </script>
                    <div class="swiper-wrapper">
                        @foreach (var testimonial in Model.UserDTO.Testimonials)
                        {
                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <p>
                                        <i class="bi bi-quote quote-icon-left"></i>
                                        <span>@testimonial.Content</span>
                                        <i class="bi bi-quote quote-icon-right"></i>
                                    </p>
                                    <img src="@Url.Content(testimonial.AuthorImage)" class="testimonial-img" alt="">
                                    <h3>@testimonial.Author</h3>
                                    <h4>@testimonial.AuthorProfession</h4>
                                </div>
                            </div>

                            <!-- End testimonial item -->
                        }
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>

        </section>

        <!-- /Testimonials Section -->
    }


    <!-- Contact Section -->
    <section id="contact" class="contact section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Contact</h2>
            <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4">

                <div class="col-lg-5">

                    <div class="info-wrap">
                        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                            <i class="bi bi-geo-alt flex-shrink-0"></i>
                            <div>
                                <h3>Address</h3>
                                <p>A108 Adam Street, New York, NY 535022</p>
                            </div>
                        </div><!-- End Info Item -->

                        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                            <i class="bi bi-telephone flex-shrink-0"></i>
                            <div>
                                <h3>Call Me</h3>
                                <p>@Model.UserDTO.Phone</p>
                            </div>
                        </div><!-- End Info Item -->

                        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                            <i class="bi bi-envelope flex-shrink-0"></i>
                            <div>
                                <h3>Email Me</h3>
                                <p>@Model.UserDTO.Email</p>
                            </div>
                        </div><!-- End Info Item -->

                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d48389.78314118045!2d-74.006138!3d40.710059!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a22a3bda30d%3A0xb89d1fe6bc499443!2sDowntown%20Conference%20Center!5e0!3m2!1sen!2sus!4v1676961268712!5m2!1sen!2sus" frameborder="0" style="border:0; width: 100%; height: 270px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>

                <div class="col-lg-7">
                    <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
                        <div class="row gy-4">

                            <div class="col-md-6">
                                <label for="name-field" class="pb-2">Your Name</label>
                                <input type="text" name="name" id="name-field" class="form-control" required="">
                            </div>

                            <div class="col-md-6">
                                <label for="email-field" class="pb-2">Your Email</label>
                                <input type="email" class="form-control" name="email" id="email-field" required="">
                            </div>

                            <div class="col-md-12">
                                <label for="subject-field" class="pb-2">Subject</label>
                                <input type="text" class="form-control" name="subject" id="subject-field" required="">
                            </div>

                            <div class="col-md-12">
                                <label for="message-field" class="pb-2">Message</label>
                                <textarea class="form-control" name="message" rows="10" id="message-field" required=""></textarea>
                            </div>

                            <div class="col-md-12 text-center">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>

                                <button type="submit">Send Message</button>
                            </div>

                        </div>
                    </form>
                </div><!-- End Contact Form -->

            </div>

        </div>

    </section>

    <!-- /Contact Section -->
}