@{
    ViewData["Title"] = "Home Page";
}
@model MyPortfolio.Domain.Models.ViewModels.UserInfoViewModel

@if (Model.UserDTO != null)
{
    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

        <img src="@Url.Content("~/images/baner.png")" alt="" data-aos="fade-in" class="">

        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <h2>@string.Concat(Model.UserDTO.FirstName, " ", Model.UserDTO.LastName)</h2>
            <p>I'm <span class="typed" data-typed-items="Software Engineer, Tech Mentor, Tech Speaker, Digital Builder">Software Engineer</span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
            <p class="vision">
                Driving IT innovation in Guinea and promoting Education, Art & Culture.
            </p>
            <div class="hero-buttons">
                <a asp-controller="Resume" asp-action="Details" asp-active-by="Index" asp-active-type="action" class="btn-main">Discover My Journey</a>
                <a asp-controller="Projects" asp-action="Index" asp-active-by="Index" asp-active-type="action" class="btn-outline">See My Projects</a>
            </div>
        </div>

    </section>
    <!-- /Hero Section -->
}

<!-- Stats Section -->
<section id="stats" class="stats section">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4">
            <div class="col-lg-3 col-md-6">
                <div class="stats-item">
                    <i class="bi bi-graph-up-arrow"></i>
                    <span data-purecounter-start="0"
                          data-purecounter-end="@Model.YearsOfExperience"
                          data-purecounter-duration="1"
                          class="purecounter"></span>
                    <p><strong>Years Experience</strong> <span>Problem solved or Features shipped</span></p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="stats-item">
                    <i class="bi bi-people"></i>
                    <span data-purecounter-start="0"
                          data-purecounter-end="@Model.TargetEndUsers"
                          data-purecounter-duration="1"
                          class="purecounter"></span>
                    <p><strong>End Users</strong> <span>Targeted by our eLearning & School System</span></p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="stats-item">
                    <i class="bi bi-headset"></i>
                    <span data-purecounter-start="0"
                          data-purecounter-end="@Model.PlanningSessions"
                          data-purecounter-duration="1"
                          class="purecounter"></span>
                    <p><strong>Planning Sessions</strong> <span>Ideas to reality</span></p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="stats-item">
                    <i class="bi bi-people"></i>
                    <span data-purecounter-start="0"
                          data-purecounter-end="@Model.TeamMembers"
                          data-purecounter-duration="1"
                          class="purecounter"></span>
                    <p><strong>Team Members</strong> <span>Friends & contributors</span></p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Stats Section -->